.principal{
    margin-top: 40px;
}
ul li{
    background-color: rgb(228, 227, 255);
    padding: 10px;
    border-radius: 10px;
    
}
#map { 
     
    height: 600px !important;
    width: 600px !important;
 }
